@media all and (max-width: 1190px) and (min-width: 980px) {
  .headerBanner {
    background-image: url("imgs/gb_medium.jpg");
  }
}
@media all and (max-width: 979px) {
  .headerBanner {
    background-image: url("imgs/gb_small.jpg");
  }
}
header .headerBanner {
  height: 28vh;
  background-image: url("../imgs/gb_large.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border-radius: 4px;
}
header img.logo {
  float: left;
  width: 10vw;
  margin: 20px;
}
header hgroup {
  float: left;
  padding-left: 4%;
  padding-top: 2%;
}
header hgroup h1 {
  font-size: 6vmin;
}
header hgroup h2 {
  font-size: 4vmin;
}
footer {
  height: 28vh;
  background-image: url("../imgs/gb_large.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border-radius: 4px;
}
footer .footerBanner {
  font-size: 18px;
  font-style: italic;
  margin-top: 1.5%;
}
main {
  border: 10px solid blue;
}
.mySidebar {
  width: 20%;
  text-align: center;
  float: right;
  margin-top: 1%;
}
.mySidebar .panel-heading {
  background-color: #c1ff58;
}
.mySidebar .linksHov a:hover {
  background-color: #9999ff;
}
