@media all and (max-width: 1190px) and (min-width: 980px) {
  .headerBanner {
    background-image: url("imgs/gb_medium.jpg");
  }
}
@media all and (max-width: 979px) {
  .headerBanner {
    background-image: url("imgs/gb_small.jpg");
  }
}
header {
  font-family: 'Chewy', cursive;
}
header .headerBanner {
  height: 28vh;
  background-image: url("../imgs/gb_large.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header img.logo {
  float: left;
  width: 10vw;
  margin: 20px;
}
header hgroup {
  float: left;
  padding-left: 4%;
  padding-top: 2%;
}
header hgroup h1 {
  font-size: 250%;
}
header hgroup h2 {
  font-size: 200%;
}
header nav li {
  font-size: 120%;
}
header nav li ul li {
  font-size: 120%;
}
main {
  border: 10px solid blue;
}
main p,
main h3 {
  font-family: 'Lato', sans-serif;
}
.mySidebar {
  text-align: center;
  float: right;
  margin-top: 1%;
}
.mySidebar .panel-heading {
  background-color: #c1ff58;
}
footer {
  font-family: 'Chewy', cursive;
  height: 28vh;
  background-image: url("../imgs/gb_large.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
footer .footerBanner {
  font-size: 18px;
  font-style: italic;
  margin-top: 1.5%;
}
