/* bg image src: https://interfacelift.com/wallpaper/details/3818/posing_hummingbird.html */
.headerBanner {
  height: 200px;
  background-image: url("../imgs/hummer_lg.jpeg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border-radius: 4px;
}

@media all and (max-width: 1190px) and (min-width: 980px) {
  .headerBanner {
    background-image: url("../imgs/hummer_md.jpeg");
  }
}

@media all and (max-width: 979px) {
  .headerBanner {
    background-image: url("../imgs/hummer_sm.jpeg");
  }
}