<section class="row ">

        <div class="headerBanner hfb_adjust">
			<a href="#">
				<img class="logo" src="imgs/logo2.png"  alt="It's my logo'">
				<hgroup>
					<h1>HTML5 & CSS3 Fundamentals</h1>
					<h2>Less & Sass</h2>
				</hgroup>
			</a>
		</div>

        <!-- navbar -->
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <!-- navbar "header" -->
			
            <div class="navbar-header main_menu">
				<ul class="nav nav-pills" id="mainMenu">
				  <li role="presentation" class="active"><a href="home">Home</a></li>
				  <!-- another menus create by jquery-->
				</ul>
            </div>
			
            <!-- the collapse id automatically gives us a nice mobile menu -->
            <div class="collapse navbar-collapse navbar-right" id="wu14-navbar-collapse">
              <!-- search box -->
              <form class="searchForm navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control searchInput" placeholder="search between pages">
                </div>
                <!-- placing button outside form group separates it from the group -->
                <button type="submit" class="btn btn-success">Search</button>
              </form>
            </div>
          </div>
        </nav>
</section>