
      <section class="row">
        
        <section class="mySidebar col-xs-10 col-sm-8 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-0 col-lg-offset-0">
          <section class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Admin Sidebar</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
				<div class="list-group linksHov">
					<li><a href="content-list" class="list-group-item glyphicon glyphicon-hand-right">Content List</a></li>
					<li><a href="admin-form" class="list-group-item glyphicon glyphicon-hand-right">Admin form</a></li>
				</div>
              </ul>
            </div>
          </section>
        </section>

        <!--  "content list" -->
        <section id="content-list" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <!-- a bootstrap panel with heading and a table -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class=" panel-title pagesTitle "> Pages</h3>
            </div>
            <!-- listing of content using a table -->
            <!-- .table is a bootstrap class -->
            <table class="table table-bordered">
              <tr class="pageTableHeads ">
                <!-- traditional table heads -->
                <th>Title:</th>
                <th>Author:</th>
                <th>Created:</th>
              </tr>
            </table>
          </div>
        </section>

     <!-- "admin form" -->
        <section id="admin-form" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <!-- using the .form-horizontal -->
          <form class="form-horizontal" method="POST" enctype="multipart/form-data" >
            <!-- put the header in a form-group with an offset to make it fit in with rest of content -->
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <h2>Administer pages:</h2>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="page_title">Page Title</label>
              <div class="col-sm-10">
                <input type="text" id="page_title" class="form-control" placeholder="Enter page title..." required>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="page_body">Page Body</label>
              <div class="col-sm-10">
                <textarea id="page_body" class="form-control" rows="10" placeholder="Enter page body content..." required></textarea>
              </div>
            </div>
			
			<!-- add menu-->
            <div class="form-group addToMenu">
              <label class="col-sm-2 control-label" for="page_body">Menu</label>
              <div class="col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" required> Add to menu
                  </label>
                </div>
              </div>

              <div class="col-sm-10 col-sm-offset-2 menuLinkFields">
                <div class="input-group">
                  <input type="text" class="form-control" id="menu_title" placeholder="Enter Menu Link Title..." required> 
                </div>
                <div class="topMenuSelect">
					<select id="menuDropdown" required>
						<option value="" selected="selected">Select a TOP menu! </option>
						<option value="1">Family</option>
						<option value="2">Sport</option>
						<option value="3">Health</option>
						<option value="4">Food</option>
					</select>
                </div>
              </div>
            </div>
			<!-- add pictures-->
			<div class="form-group addPicture">
				<label class="col-sm-2 control-label" for="file">Picture</label>
				<div class="col-sm-10 uploadPic">
					<input type="file" name="image" id="file" required/> 
				</div>
				
			<!--
				<label class="col-sm-2 control-label" for="chbox">Picture</label>
				<div class="col-sm-10">
					<div class="checkbox">
					  <label>
						<input type="checkbox" id="chbox" value="" required> Add Picture
					  </label>
					</div>
				  </div>
				  
				  <div class="col-sm-10 col-sm-offset-2 picLinkFields">
				  
					<div class="input-group">
						<label class="col-sm-2 control-label" for="pic_title">Picture Title</label>
						<div class="col-sm-10">
							<input type="text" id="pic_title" class="form-control" placeholder="Enter picture title..." required>
						</div>
					</div>
					
					<div class="PictureSelect">
						<select id="pictureDropdown" required>
							<option value="" selected="selected">Select a Picture! </option>
							<option value=""></option>
						    <option value="" disabled > --Sport--</option>
							  <option value="sf">football</option>
							  <option value="ss">swiming</option>
							  <option value="sb">basket</option>
							  <option value="sr">runing</option>
							  <option value=""></option>
						    <option value="" disabled>--Food--</option>
							  <option value="fp">Pasta</option>
							  <option value="ff">fry Food</option>
							  <option value="fk">kebab</option>
							  <option value="fp">pizza</option>
							  <option value=""></option>
							<option value="" disabled>--Health--</option>
							  <option value="hv1">Vitamin</option>
							  <option value="hv2">Vegetable</option>
							  <option value="ha">ache</option>
							  <option value=""></option>
							<option value="" disabled>--Family--</option>
							  <option value="fc">children</option>
							  <option value="fm">mothers</option>
							  <option value="ff">fathers</option>
							  <option value="fd">divorce</option>
						</select>
					</div>
					
					
				  </div>
				  -->
			</div>
			
			
			
			
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-lg">Save Page</button>
              </div>
            </div>
			
          </form>
        </section>
	
	<!-- "page by href" -->
	<section id="pageByHref" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	</section>
	
    </section>