
      <section class="row">
        
        <section class="mySidebar col-xs-10 col-sm-8 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-0 col-lg-offset-0">
          <section class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Admin Sidebar</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="content-list">Content List</a></li>
                <li><a href="admin-form">Admin form</a></li>
              </ul>
            </div>
          </section>
        </section>

        <!-- our "content list" -->
        <section id="content-list" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <!-- a bootstrap panel with heading and a table -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">All Pages</h3>
            </div>
            <!-- listing of content using a table -->
            <!-- .table is a bootstrap class -->
            <table class="table">
              <tr class="pageTableHeads">
                <!-- traditional table heads -->
                <th>pid:</th>
                <th>Title:</th>
                <th>Author:</th>
                <th>Created:</th>
              </tr>
            </table>
          </div>
        </section>

        <!-- our "admin form" -->
        <section id="admin-form" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <!-- using the .form-horizontal -->
          <form class="form-horizontal">
            <!-- put the header in a form-group with an offset to make it fit in with rest of content -->
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <h2>Administer pages:</h2>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="page_title">Page Title</label>
              <div class="col-sm-10">
                <input type="text" id="page_title" class="form-control" placeholder="Enter page title..." required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="page_url">Page Url</label>
              <div class="col-sm-10">
                <div class="input-group pageUrlGroup">
                  <span class="input-group-addon">
                    <input type="checkbox">
                  </span>
                  <input type="text" id="page_url" class="form-control" placeholder="Enter page url..." disabled>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="page_body">Page Body</label>
              <div class="col-sm-10">
                <textarea id="page_body" class="form-control" rows="10" placeholder="Enter page body content..." required></textarea>
              </div>
            </div>
            <div class="form-group addToMenu">
              <label class="col-sm-2 control-label" for="page_body">Menu</label>
              <div class="col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value=""> Add to menu
                  </label>
                </div>
              </div>

              <div class="col-sm-10 col-sm-offset-2 menuLinkFields">
                <div class="input-group">
                  <input type="text" class="form-control" id="menu_title" placeholder="Enter Menu Link Title...">
                  <span class="input-group-addon" id="basic-addon2">Weight:</span>
                  <input type="number" value="0" id="menu_weight" class="form-control">
                </div>
                <div class="menuSelect">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-lg">Save Page</button>
              </div>
            </div>
          </form>
        </section>
      </section>